{{>navbar}}

<div class="container">
  <div class="row">
    <div class="col-sm-12 mst-about">
      <h1>About the Mass Shooting Tracker</h1>
      <p>
        Welcome to the  Mass Shooting Tracker, as featured by CNN, MSNBC, The New York Times, The Washington Post, The
        Economist and more. </p>
      <p>
        The most obscene incidents of gun violence usually do not make the mainstream news at all. Why? Because the
        mainstream media's definition of “mass shooting” should more accurately be described as “mass murder”.</p>
      <p>
        The current FBI definition of mass murder, commonly accepted by the media as a proxy for “mass gun violence”, is
        three or more people murdered in one event. We believe this does not capture the whole picture. Many people may
        survive a shooting based on luck alone. Some may be left with life long disabilities and trauma, but the
        mainstream definition of mass gun violence does not account for this.
      <p>
        Here at the <strong>Mass Shooting Tracker</strong>, we count the number of people shot rather than the number
        people killed because, “shooting” means “people shot”. </p>
      <p>
        For instance, in 2012 Travis Steed and others shot 18 people total. Miraculously, he only killed one. Under the
        incorrect definition used by the media and the FBI, that event would not be considered a mass shooting! Arguing
        that 18 people shot during one event is not a mass shooting is absurd. </p>
      <p>
        Our definition is this: a mass shooting is an incident where four or more people are shot in a single shooting
        spree. This may include the gunman himself, or police shootings of civilians around the gunman. </p>
      <p>

        Besides the clarity provided by tracking mass shootings this way, another benefit is that it removes the factor
        of our miraculous modern medical care system from the equation. The gun lobby benefits from our tremendous
        ability to save those who would otherwise die, even though those gun shot victims are still just as shot and
        will never be the same. The NRA evades the gigantic costs of gun injuries to society and shifts the burden to
        taxpayers who often pay the costs for the medical care of the wounded. </p>
      <p>
        Maintaining a list like this also punches a hole in the NRA argument that if mass shootings are televised, more
        mass shootings will occur via copycats. In fact, most of these shootings do not receive more than a day's worth
        of local coverage. Yet mass shootings continue to occur anyway. We believe mass shootings should receive more
        publicity, not less. </p>
      <p>
        We refuse to ignore the victims of gun violence who survive mass shooting sprees, and we believe the media does
        a disservice to mass shooting victims by virtually ignoring them unless large numbers are killed.</p>

      <h1>Frequently Asked Questions</h1>

      <a id="massshooting" href="#massshooting"><h3>How do you define “mass shooting”?</h3></a>

      <p>
        We define a mass shooting to be an incident of violence in which <span class="label-info">4 or more people are shot.</span>
        We do not consider
        the motive of the shooter, or whether he or she shot up a school, workplace or street corner. Our mission is to
        record all incidents of mass gun violence. We include the shooter's death because suicide matters and <a
              href="http://www.hsph.harvard.edu/means-matter/means-matter/" target="_blank">means matter.</a>&nbsp;Ignoring
        the shooter's death is not logically consistent with research that tracks the death toll of firearm suicides in
        our society.</p>
      <a id="massmurder" href="#massmurder"><h3>Isn't that the same as “mass murder”?</h3></a>

      <p>No, the current FBI definition of mass murder, from their recent study of active shooter events, is three or
        more killed: “the federal definition of
        ’mass killing’ — defined as ’three or more’ killed“<a
                href="https://www.fbi.gov/news/stories/2014/september/fbi-releases-study-on-active-shooter-incidents/pdfs/a-study-of-active-shooter-incidents-in-the-u.s.-between-2000-and-2013"
                target="_blank"> (source, PDF, pg 7)</a>
      <p>
        <strong class="label-info">The FBI does not define mass shooting</strong>. We differentiate between the two
        largely because of the
        huge variable
        that medical care represents. A mass shooting 50 miles from the nearest trauma center is much more likely to
        become a mass murder than one within 5 miles of the nearest trauma center. We use four people shot because that
        is more congruent with the colloquial definition of mass murder (four or more killed).</p>

      <h3>Aren't you people biased?</h3>

      <p>
        We make no secret of the fact that we are a strongly opinionated group of people. Most of us support gun
        control. However, we believe that the best way to make our case is to present facts as objectively as possible.
        We believe that we do not need to distort, because the data is on our side. This is why pro gun members of
        congress have been so eager to prevent government agencies from researching gun violence. We seek to produce the
        best possible data, to do otherwise would be a waste of our time. </p>

      <h3>I heard you included a BB gun shooting in your count.</h3>

      <p>At one point there were a few BB gun shootings included in the data set since the CDC tracks BB gun shootings
        that require an emergency room visit and considers them to be a type of shooting. However the decision was made
        to remove them from our database since they caused confusion. These represented 3 cases, less than 0.3% of our
        data. </p>

      <h3>I found a mistake in your data. That means all your data is invalid, right?</h3>

      <p>
        No. This is an unfunded, crowd-sourced effort, which means errors can and will be introduced. We are
        transparent with our data and we strive to achieve the highest degree of accuracy possible. If you see an error,
        please message the mods at <a href="https://reddit.com/r/GunsAreCool">GRC</a> and we will review the entry.</p>

      <h3>Why should people trust crowd-sourced data?</h3>

      <p>
        Until Congress starts funding gun violence research, others will have to fill the void. At this point (December
        2015) Congress has effectively blocked the CDC from researching the underlying causes of gun violence. Our
        volunteers include published researchers with experience in scientific and medical fields, who understand how to
        collect and interpret data. We are confident in our data and we welcome anyone to review it. </p>

      <h3>How can I get involved?</h3>

      <p>
        We are working on tools to allow more people to participate in collecting more and better data. Start by joining
        <a href="https://reddit.com/r/GunsAreCool">our subreddit</a> or follow us on twitter at <a
              href="https://twitter.com/rGunsAreCool">@rGunsAreCool</a>. </p>

    </div>
  </div>
</div>