{{>navbar}}

<div class="container">
  <h4>About the mass shooting tracker</h4>
  <p>
  Welcome to the mass shooting tracker, as featured by CNN, MSNBC, The Washington Post, The Economist and more.
  </p>
  <p>
  The most obscene incidents of gun violence usually do not make the mainstream news at all. Why? Because their definition is incorrect. The mainstream news meaning of "Mass Shooting" should more accurately be described as "Mass Murder".
  </p>
  <p>
  The old FBI definition of Mass Murder (not even the most recent one) is four or more people murdered in one event. It is only logical that a Mass Shooting is four or more people shot in one event.
  </p>
  <p>
  Here at the Mass Shooting Tracker, we count the number of people shot rather than the number people killed because, "shooting" means "people shot".
  </p>
  <p>
  For instance, in 2012 Travis Steed and others shot 18 people total. Miraculously, he only killed one. Under the incorrect definition of mass shooting, that event would not be considered a mass shooting! Arguing that 18 people shot during one event is not a mass shooting is absurd.
  </p>
  <p>
  The only requirement is that four or more people are shot in a spree or setting, likely without a cooling off period. This may include the gunman himself (because they often suicide by cop or use a gun to kill themselves to escape punishment), or police shootings of civilians around the gunman. The reasoning behind the latter being that if the shooter is arrested, he will often be charged with injuring people the police actually shot, as that is a foreseeable result of a shooting spree.
  </p>
  <p>
  Besides the plain-reading value of tracking mass shootings this way, another benefit is that it removes medical care (which affects the outcome) from the action (shooting a bunch of people). The gun lobby benefits from our ability to save those who would otherwise die, even though those gun shot victims are still just as shot and will never be the same. The NRA evades the gigantic costs of gun injuries to society and shifts the burden to taxpayers who often pay the costs for the medical care of the wounded.
  </p>
  <p>
  Maintaining a list like this also punches a hole in the NRA argument that if mass shootings are televised, more mass shootings will occur via copycats. In fact, many of these shootings do not receive more than a day's worth of local coverage. Yet mass shootings continue to occur anyway. We actually think mass shootings should receive more publicity, not less.
  </p>
  <p>
  We refuse to ignore the victims of gun violence who survive mass shooting sprees, and we believe the media does a disservice to mass shooting victims by virtually ignoring them unless large numbers are killed.</p>
</div>