{{>navbar}}

<div class="container-fluid">
  <div class="container mst-container-main">
    <div class="jumbotron">
      <h1>331 mass shootings in America this year...</h1>

      <p class="mst-shooting-definition">
        We define a mass shooting to be when 4 or more people are shot in a single burst of violence.
        These events happen almost every day in America, yet the media only reports on a small fraction of the worst episodes.
        Fighting apathy requires awareness.
        Learn more about why the government and the media's definition of "mass shooting" <a href="/about">is wrong...</a>
      </p>
      <h3 class="center">2 days since the last mass shooting</h3>
      <h3 class="center">Expected time until next mass shooting: 2 days, 13 hours, 20 minutes, 11 seconds</h3>

      <div class="row mst-jumbotron-btns">

        <div class="col-xs-12 col-sm-3 center">
          <a class="btn btn-block btn-danger" href="#"><i class="fa fa-share-alt"></i>Share this page</a>
        </div>
        <div class="col-xs-12 col-sm-3 center">
          <a class="btn btn-block btn-danger" href="#"><i class="fa fa-twitter"></i>Follow us on Twitter</a>
        </div>
        <div class="col-xs-12 col-sm-3 center">
          <a class="btn btn-block btn-danger" href="#"><i class="fa fa-envelope"></i>Join our mailing list</a>
        </div>
        <div class="col-xs-12 col-sm-3 center">
          <a class="btn btn-block btn-danger" href="#"><i class="fa fa-reddit"></i>Subscribe on Reddit</a>
        </div>

      </div>
    </div>

    <div class="mst-button-row">

        <a href="#" class="btn btn-info" data-toggle="modal" data-target="#submitShootingModal"><i class="fa fa-submit"></i>Submit a shooting!</a>

        <a href="#" class="btn btn-default"><i class="fa fa-download"></i>Download the data</a>

    </div>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th># Dead</th>
          <th># Wounded</th>
          <th>Shooter's name</th>
          <th>Synopsis</th>
          <th>Types of guns used</th>
          <th>News articles</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>10/01/2015</td>
          <td>3</td>
          <td>3</td>
          <td>Loner Billy</td>
          <td>Gun collector and 4chan enthusiest Loner Billy got sad and decided to shoot up a school. He only shot six people and therefore failed to make the national news.</td>
          <td>3 hand guns, one rifle. Purchased legally</td>
          <td>
            <ul>
              <li>
               <a href="#">[1]</a>
              </li>
              <li>
               <a href="#">[2]</a>
              </li>
              <li>
               <a href="#">[3]</a>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>9/30/2015</td>
          <td>3</td>
          <td>3</td>
          <td>Loner Billy</td>
          <td>Gun collector and 4chan enthusiest Loner Billy got sad and decided to shoot up a school. He only shot six people and therefore failed to make the national news.</td>
          <td>3 hand guns, one rifle. Purchased legally</td>
          <td>
            <ul>
              <li>
               <a href="#">[1]</a>
              </li>
              <li>
               <a href="#">[2]</a>
              </li>
              <li>
               <a href="#">[3]</a>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>9/28/2015</td>
          <td>3</td>
          <td>3</td>
          <td>Loner Billy</td>
          <td>Gun collector and 4chan enthusiest Loner Billy got sad and decided to shoot up a school. He only shot six people and therefore failed to make the national news.</td>
          <td>3 hand guns, one rifle. Purchased legally</td>
          <td>
            <ul>
              <li>
               <a href="#">[1]</a>
              </li>
              <li>
               <a href="#">[2]</a>
              </li>
              <li>
               <a href="#">[3]</a>
              </li>
            </ul>
          </td>
        </tr>

      </tbody>

    </table>
  </div>
</div>

{{>submitshooting}}
